body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > * {
    display: flex;
    flex: 1 1 100%;
}

.panel-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.panel-1 > * {
    display: flex;
    flex: 1 1 100%;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.left {
    margin-left: 50px;
}

.right {
    margin-right: 50px;
}

.right > ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.body {
    justify-content: center;
}

.slideshow {
    display: flex;
    justify-content: center;
    margin: 20px;
}

img {
    width: 300px;
}

.panel-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.panel-2 > * {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

.upper {
    flex-wrap: wrap;
}

.upper > *,
.lower > * {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

.lower {
    flex-wrap: wrap;
}

.lower > .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-template-rows: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    gap: 10px
}

.box {
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    align-items: center;
}

.box > * {
    flex: 1 1 100%;
}

.info {
    display: flex;
    justify-content: center;
}

.info > ul {
    list-style-type: none;
    padding: 0;
}